:root {
  --black: #000000;
  --white: #ffffff;
  --grey: #71717a;
  --grey2: #d4d4d8;
  --font16: 1.6rem;
  --font20: 2rem;
  --font24: 2.4rem;
  --font28: 2.8rem;
  --font32: 3.2rem;
  --font48: 4.8rem;
}

.harmCont i {
  font-size: 3.7rem;
  /* height: 1.8rem; */
  /* fill: var(--black); */
}

.logoXtext .logoname1 {
  font-size: var(--font24);
  font-weight: bold;
  color: var(--black);
}
.innerNav {
  width: 74rem;
}
.container {
  height: 61.6rem;
  justify-content: center;
  flex-direction: row;
  margin-top: 4rem;
}
.container .myImgCont {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 34.3rem;
  height: 46.5rem;
  position: relative;
  margin-top: 0;
}

.innerContainer {
  width: 100rem;
  height: 59.6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1.8rem;
}

.mainCont {
  max-width: 100%;
  gap: 2rem;
}

.mainCont .skillsCont {
  grid-template-columns: 1fr 1fr 1fr;

  max-width: 74rem;
  height: 52rem;
  /* gap: 2rem; */
  flex-wrap: wrap;
  gap: 4rem;
}

.icon {
  flex: 0 0 18.6rem;
  width: 18.6rem;
}
.section .sectCont {
  max-width: 74rem;
}

.experience {
  max-width: 70rem;
  /* height: 22.2rem; */
  padding-top: 1rem;
}
.experience .first {
  width: 90%;
  gap: 0;
}
.experience .grey {
  width: 90%;
  gap: 0;
}

.mid {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.5rem;
}

article {
  /* height: 120.2rem; */
  justify-content: center;
  justify-content: start;
  padding-top: 10rem;
}

.artCont {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  max-width: 70rem;
  gap: 2rem;
}

/* article .imgCont {
  width: 52.621rem;
  height: 36.2rem;
  border: 2px solid var(--black);
  border-radius: 1rem;
} */

article .imgCont {
  max-width: 33.621rem;
  height: 36.6rem;
  border-radius: 1rem;
}
article button {
  width: 13.9rem;
  height: 4.8rem;
  background-color: var(--black);
  color: var(--white);
  font-weight: bold;
  border: none;
  border-radius: 0.4rem;
}
.textsAbt {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0.4rem;
  width: 34.3rem;
  max-height: 100%;
}

aside {
  /* height: 142.4rem; */
}
.asideCont {
  max-width: 70rem;
  justify-content: center;
  gap: 4rem;

}

.projects .proj {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--white);
  gap: 2.4rem;
  width: 100%;
}

.right {
  height: 29.6rem;
}
.projects .imgCont {
  /* max-width: 33rem; */
  /* height: 36.773rem; */
}
.projects .projm {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  width: 100%;
}

.getInTouch {
  height: 60.4rem;
  padding: 6rem 0;
}
.getInTouchCont {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 70rem;
}

form {
  width: 60.3rem;
  height: 44.4rem;
}

.talk {
  width: 60.3rem;
}

form input {
  width: 80%;
}
form textarea {
  width: 80%;
}

.innerFooter {
  justify-content: space-between;
  max-width: 74rem;
}
