* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

:root {
  --black: #000000;
  --white: #ffffff;
  --grey: #71717a;
  --grey2: #d4d4d8;
  --expBg1: #000000;
  --expBg2: #c4c4ca;
  --font16: 1.6rem;
  --font20: 2rem;
  --font24: 2.4rem;
  --font28: 2.8rem;
  --font32: 3.2rem;
  --font48: 4.8rem;
  --blur: rgba(0, 0, 0, 0.562);
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
}

.theme2 {
  --black: #ffffff;
  --white: #000000;
  --grey: #71717a;
  --blur: rgba(209, 208, 208, 0.521);
  --expBg2: #000000;
  --expBg1: #c4c4ca;

  /* --grey: #71717a;
  --grey2: #d4d4d8;
  --font16: 1.6rem;
  --font20: 2rem;
  --font24: 2.4rem;
  --font28: 2.8rem;
  --font32: 3.2rem;
  --font48: 4.8rem; */
}
header {
  width: 90%;
}
.mobileMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--blur);
  z-index: 10;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  overflow-y: auto;

  /* animation-name: mobile-animation;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; */
  backdrop-filter: blur(2px);

  /* opacity: 0; */
}
.overlay {
  width: 90vw;
  height: 100vh;
  position: absolute;
  background-color: var(--blur);
  left: 0;
  top: 0;
  z-index: 5;
  position: fixed;
  backdrop-filter: blur(2px);
}
/* .download2 a {
  text-decoration: none;
  color: var(--white);
} */

.mobileMenu.open {
  transform: translateX(0);
}

.mobileMenu .close {
  color: var(--white);
  align-self: flex-end;
  font-size: 4rem;
  cursor: pointer;
}

.mobileMenuLinks {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 4rem;
  margin-top: 5rem;
}
.mobileMenuLinks a,
.mobileMenuLinks li,
.mobileMenuLinks i {
  text-decoration: none;
  list-style: none;
  font-size: var(--font20);
  font-weight: bold;
  color: var(--white);
}

.download2 {
  display: flex;
  width: 15.3rem;
  height: 5.6rem;
  background-color: var(--black);
  border: none;
  border-radius: 0.4rem;
  color: var(--white) !important;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: var(--font20);
  cursor: pointer;
  text-decoration: none;
}
.download2 i {
  color: var(--white);
}

.moon {
}

.hidden {
  display: none;
}

body {
  font-family: "Sora", serif;
  background-color: var(--white);
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 7.2rem;
  padding: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: var(--white);
}
.innerNav {
  width: 34.3rem;
  height: 4rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .logoCont {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logoXtext {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  text-decoration: none;
}

.logoCont img {
  width: 2.3rem;
  height: 2.3rem;
}
.logoXtext .logoname1 {
  font-size: var(--font20);
  font-weight: bold;
  color: var(--black);
}

.links {
  display: none;
}
.download {
  display: none;
}
.harmCont {
  width: 3.6rem;
  height: 3.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.harmCont i {
  font-size: 2.7rem;
  color: var(--black);
  /* height: 1.8rem; */
  /* fill: var(--black); */
}
.container {
  width: 90vw;
  height: 86.8rem;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 10rem;
}

.innerContainer {
  width: 100%;
  height: 86.8rem;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column-reverse;
  gap: 4.8rem;
}
.container .myImgCont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 34.3rem;
  height: 46.5rem;
  position: relative;
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: end;
}

.container .myImg {
  width: 100%;
  height: 25rem;
}
.container .line {
}

.container .line2 {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 34.4rem;
  width: 100%;
  border: 2px solid var(--black);
}

.container .textXlogo {
  /* min-width: 24.3rem; */
  width: 90%;
  max-width: 34.3rem;
  height: 40.8rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 3.2rem;
}

.textXlogo .introText {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 1rem;
}

.introText .greeting {
  font-size: var(--font28);
  color: var(--black);
}
.introText .name {
  font-size: var(--font28);
  font-weight: bolder;
  text-shadow: 0 1px 3px var(--black);
  color: var(--black);
}

.introText .role1,
.introText .role2,
.introText .location {
  color: var(--black);
  font-size: var(--font28);
  font-weight: bolder;
}
.introText .role2 {
  color: var(--white);
  text-shadow: -1.4px 0px 0px var(--black), 1.4px 0px 0px var(--black),
    0px -1.4px 0px var(--black), 0px 1.4px 0px var(--black);
}

.sec {
  margin-left: 1.4rem;
}

.writeUp p {
  color: var(--grey);
  font-size: var(--font16);
  line-height: 2.4rem;
}

.iconCont {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  gap: 2.4rem;
}

/* .mobileMenuLinks a,
.mobileMenuLinks li,
.mobileMenuLinks i {
  text-decoration: none;
  list-style: none;
  font-size: var(--font20);
  font-weight: bold;
  color: var(--white);
} */
/* .iconCont a {
  color: var(--black);
} */

.iconCont a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.8rem;
  height: 4.8rem;
  border: 2px solid var(--black);
  background-color: var(--white);
  border-radius: 0.4rem;
  fill: var(--black);
}

.iconCont a:hover {
  background-color: var(--black);
  fill: var(--white);
}
.iconCont a svg {
  width: 2rem;
  height: 2rem;
  color: var(--grey);
  /* fill: var(--black); */
}

main {
  width: 90vw;
  height: 69.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}

.mainCont {
  width: 100%;
  max-width: 34.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.skill {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font28);
  width: 100%;
  height: 7.2rem;
  gap: 1.6rem;
  color: var(--black);
}

.skill span {
  font-weight: bolder;
}
.mainCont .skillsCont {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  width: 100%;
  max-width: 34.3rem;
  height: 52rem;
  gap: 0.9rem;
  flex-wrap: wrap;
}
.three {
  width: 100%;
  height: 16rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
/* .skillsCont .one {
  width: 100%;
  height: 16rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
} */
.icon {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* flex: 0 0 ; */
  width: 100%;
  max-width: 16.15rem;
  height: 16rem;
  background-color: var(--white);
  border: 2px solid var(--black);
  border-radius: 0.4rem;
}
.icon p {
  font-size: var(--font20);
  color: var(--black);
  font-weight: bold;
}
.hoverCont1:hover .dropDownAbout {
  display: flex;
}
.icon:hover,
.icon svg {
  background-color: var(--black);
  color: var(--white);
  fill: var(--white);
  transition: all ease-in 1;
  animation: hide-animation 0.5s ease-in-out forwards;
}

.icon:hover p {
  /* background-color: var(--black); */
  color: var(--white);
  /* fill: var(--white);
  transition: all ease-in 1;
  animation: hide-animation 0.5s ease-in-out forwards; */
}
.icon:hover svg {
  /* background-color: var(--black); */
  /* color: var(--white); */
  fill: var(--white);
  /* transition: all ease-in 1;
  animation: hide-animation 0.5s ease-in-out forwards; */
}

@keyframes hide-animation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

svg {
  width: 5.6rem;
  height: 5.6rem;
}

.section {
  background-color: var(--black);
  color: var(--white);
  width: 100%;
  /* height: 102.6rem; */
  padding: 4rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section .sectCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 34.3rem;
}

.experience {
  width: 100%;
  max-width: 34.3rem;
  /* height: 89.6rem; */
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  border-radius: 1rem;
  padding-top: 3rem;
  gap: 5rem;
}

.experience .first {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  width: 100%;
  padding: 2rem;
  /* height: 24rem; */
  gap: 3rem;
  border: 2px solid var(--grey);
  background-color: var(--expBg1);
}
.experience .grey {
  background-color: var(--expBg2);
  color: var(--white) !important;
  border: 2px solid var(--grey);

  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  width: 100%;
  padding: 2rem;
  /* height: 24rem; */
  gap: 3rem;
}
.experience .grey h4 {
  color: var(--black) !important;
}

.first .top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.top img {
  width: 3.2rem;
  height: 3.2rem;
  /* border-radius: 2rem; */
}
.top h4 {
  font-size: var(--font20);
  /* color: var(--white); */
}
.mid {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 2.8rem;
}
.mid h5 {
  font-size: var(--font16);
  color: var(--grey);
}
.mid p {
  font-size: var(--font16);
  color: var(--grey);
  line-height: 2.4rem;
}

article {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 90vw;
  /* height: 127.8rem; */
  padding: 4rem 0;
}
.artCont {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  max-width: 34.3rem;
  width: 100%;
  gap: 2rem;
}
.textsAbt {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 34.3rem;
  width: 100%;
}
article .imgCont {
  max-width: 33.621rem;
  width: 100%;
  height: 36.6rem;
  /* border: 2px solid var(--black); */
  border-radius: 1rem;
  /* background-color: var(--white); */
}
article .imgCont svg {
  width: 100.3%;
  border-radius: 1rem;
  height: 100%;
  fill: var(--black);
}

article button {
  width: 13.9rem;
  height: 4.8rem;
  background-color: var(--black);
  color: var(--white);
  font-weight: bold;
  border: none;
  border-radius: 0.4rem;
}
article button:hover {
  background-color: var(--white);
  color: var(--black);
  border: 2px solid var(--black);
  cursor: pointer;
  font-weight: bolder;
}
.about {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: var(--font28);
  width: 100%;
  height: 7.2rem;
  gap: 1.6rem;
  color: var(--black);
}
aside {
  background-color: var(--black);
  width: 100%;
  /* height: 254.92rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
}

.asideCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 34.3rem;
  width: 100%;
  height: 100%;
}

.about span {
  font-weight: bolder;
}

.aboutText {
  font-size: var(--font16);
  color: var(--grey);
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  width: 90vw;
  border: 1px solid red;
}
.project {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font28);
  width: 90%;
  height: 7.2rem;
  color: var(--white);
  gap: 1rem;
  border: 1px solid red;
}

.project span {
  font-weight: bolder;
}
.projects .proj,
.projects .projm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
  gap: 4.4rem;
  width: 100%;
  border: 1px solid red;

  /* width: 100%; */
}
.right {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 2.4rem;
  max-width: 34.3rem;
  width: 100%;
  height: 32.4rem;
}
.language {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.language div {
  display: flex;
  /* width: 6rem; */
  padding: 0 2rem 0 0;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.language span {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 2rem; */
  padding: 0.8rem 1rem;
  background-color: var(--white);
  color: var(--black);
  font-weight: bolder;
  font-size: 1.2rem;
  border-radius: 0.5rem;
}
.language div p {
  font-size: 3rem;
  font-weight: bolder;
  color: var(--white);
  position: absolute;
  bottom: 1.2rem;
  right: 0;
  /* border-radius: 5rem; */
}

.projects .imgCont {
  max-width: 34.3rem;
  width: 100%;
  height: 39.773rem;
  border-radius: 2rem;
}
.projects .imgCont img {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
}
.projOne .imgCont {
  background-image: url(./asset/desktop-design-light.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.projMid .imgCont {
  background-image: url(./asset/cilantro.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.projthree .imgCont {
  background-image: url(./asset/20241227_214614.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.projHealth .imgCont {
  background-image: url(./asset/Intro.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.projtwo .imgCont {
  background-image: url(./asset/Guess.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.projfour .imgCont {
  background-image: url(./asset/jumia.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.projfive .imgCont {
  background-image: url(./asset/fairmoney.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.projSix .imgCont {
  background-image: url(./asset/stalink2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.projects h2 {
  font-size: var(--font24);
  font-weight: bolder;
}
.projects h4 {
  font-size: var(--font20);
  font-weight: bolder;
}
.projects p {
  color: var(--grey);
  font-size: var(--font16);
  line-height: 2.4rem;
}
.projLinks {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  gap: 2.4rem;
}

.projLinks a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: var(--white);
  text-decoration: none;
  font-size: 1.4rem;
}
.projLinks a:hover {
  color: #d3e97a;
  fill: #d3e97a;
}
.projLinks a svg {
  fill: var(--white);
  width: 2.2rem;
  height: 2.2rem;
}

.certs {
  width: 90vw;
  height: 60rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  padding: 2rem 0;
}
.certConts {
  width: 34.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.slideshow-container {
  width: 100%;
  height: 27.9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.arr {
  display: flex;
  gap: 5rem;
}
.arr .prev,
.arr .next {
  font-size: 5rem;
  cursor: pointer;
  color: var(--black);
}
.mySlides img {
  width: 100%;
  height: 27.9rem;
}
.certConts .imgCont {
  width: 34rem;
  height: 27.9rem;
}
.certConts .imgCont img {
  width: 100%;
  height: 100%;
}
.arrows {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.certConts i {
  font-size: 4rem;
  cursor: pointer;
}
.certConts i:hover {
  /* color: var(--white); */
}

.certificate {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font28);
  width: 100%;
  height: 7.2rem;
  gap: 1.6rem;
  color: var(--black);
}

.certificate span {
  font-weight: bolder;
}
.getInTouch {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 90vw;
  height: 94.4rem;
  background-color: var(--white);
  padding: 6rem 0;
}
.getInTouchCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 34.3rem;
  width: 90%;
  height: 100%;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  max-width: 34.3rem;
  width: 100%;

  height: 55.2rem;
  gap: 2rem;
}
form input {
  width: 100%;
  height: 5.6rem;
  padding-left: 2.4rem;
  color: var(--grey);
  background-color: var(--white);
  border: 2px solid var(--black);
}
form textarea {
  width: 100%;
  height: 14rem;
  padding: 2.4rem;
  color: var(--grey);
  background-color: var(--white);
  border: 2px solid var(--black);
  resize: none;
}

form .btnXicon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 2.4rem;
}
form button {
  width: 13.9rem;
  height: 4.8rem;
  background-color: var(--black);
  color: var(--white);
  font-weight: bold;
  border: none;
  border-radius: 0.4rem;
}
form button:hover {
  background-color: var(--white);
  color: var(--black);
  border: 2px solid var(--black);
  cursor: pointer;
  font-weight: bolder;
}

.talk {
  max-width: 34.3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.connectCont {
  font-size: 2.8rem;
}
.connectCont .lets {
  color: var(--black);
  font-weight: bolder;
}
.connect {
  font-weight: bolder;
  color: var(--white);
  text-shadow: -1.4px 0px 0px var(--black), 1.4px 0px 0px var(--black),
    0px -1.4px 0px var(--black), 0px 1.4px 0px var(--black);
}

.talk p {
  font-size: var(--font16);
  color: var(--grey);
}
.emailXnum {
  color: var(--black);
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 100%;
  text-wrap: wrap;
}
.talk h3 {
  font-size: var(--font20);
  font-weight: bold;
  font-size: var(--font16);
  text-wrap: wrap;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 8rem;
  background-color: var(--black);
  color: var(--white);
}
.innerFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  max-width: 34.3rem;
  width: 100%;
  height: 4rem;
}

.innerFooter .at {
  font-size: var(--font16);
}

.logoName {
  font-size: var(--font20);
  font-weight: bold;
  color: var(--white);
}

.themeToggle {
  background-color: var(--black);
  color: var(--white);
  z-index: 200;
  /* margin-top: 10rem; */
  position: fixed;
  right: 0;
  bottom: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  width: 6rem;
  height: 6rem;
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
}
/* .themeToggle i {
  font-size: 5rem;
  color: var(--white);
  cursor: pointer;
} */

.moon,
.sun {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.moon svg,
.sun svg {
  width: 3rem;
  height: 3rem;
  fill: var(--white);
  transition: all ease-in 1;
  animation: rotate 0.5s ease-in-out forwards;
}
/* .rotated{
  transform
} */

/* .icon:hover,
.icon svg {
  background-color: var(--black);
  color: var(--white);
  fill: var(--white);
  transition: all ease-in 1;
  animation: hide-animation 0.5s ease-in-out forwards;
} */

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.hide {
  display: none;
}
